body {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1516534775068-ba3e7458af70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  color: #1b1b1b;
  max-width: auto;
  margin: 0 10%;
  font-size: 18px;
}

h1 {
  text-align: center;
  color: #f8f8f8;
  font-size: 2rem;
}
#quiz-game {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}

section {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80vh;
  width: 50%;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.questions {
  background-color: #ffffff;
  border-left: 5px solid #1da1f2;
  width: 80%;
  margin: 3rem auto 0 auto;
  padding: 1.5rem 2rem;
}

#question {
  display: hide;
}

#options li {
  list-style-type: none;
  display: none;
}
